#pagina{
  position: relative;
  width: 1200px;
  height: 570px;

 
}

#alta{
  position: relative;
  left: auto;
  width: 200px;
  height: 50px;
  color: white;
  background-color: black;
  text-align: center;
}

#menu{
  
  position: absolute;
  left: auto;
  width: 200px;
  height: 520px;
  background-color: rgb(4, 195, 253);
}

a{
  text-decoration: none;
}

#container{
  position: absolute;
  left: 250px;
  width: 600px;
  height: 600px; 
}
