<h1>Gestión de producto</h1>


    <p-table [value]="products">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>descripcion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-products>
            <tr>
                <td>{{products.id}}</td>
                <td>{{products.name}}</td>
                <td>{{products.img}}</td>
                <td>{{products.price}}</td>
                <td>{{products.descripcion}}</td>
                <a href="" class="btn btn-primary">AÑADIR</a>
                <a href="" class="btn btn-dager" (click)="delete(products.id)">ELIMINAR</a>
            </tr>
        </ng-template>
    </p-table>

